<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS first -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Your overrides after -->
    <link rel="stylesheet" href="../static/css/userDashboard.css" />

    <title>Vehicle Parking</title>
  </head>
  <body>
    <nav class="navbar navbar-dark tt bg-dark">
      <div class="container-fluid px-4">
        <h3 class="text-white text-center m-0">LotBuddy</h3>
      </div>
    </nav>

    <!--header-->
    <nav class="nav navbar px-4 bg-dark">
      <a class="nav-link active" aria-current="page">welcome {{username}}</a>
      <a class="nav-link" aria-current="page">home</a>
      <a class="nav-link" href="#">summary</a>

      <a class="nav-link d-flex ms-auto" href="/login">log out</a>
    </nav>

    <br />

    <nav class="navbar navbar-dark bg-dark">
      <div class="w-100 text-center">
        <h2 class="text-white m-0">Recent Parking history</h2>
      </div>
    </nav>
    <br />
    <div class="container">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col" style="width: 10%">Booking ID</th>
            <th scope="col" style="width: 10%">Spot ID</th>
            <th scope="col" style="width: 19%">Location</th>
            <th scope="col" style="width: 19%">vehicle no</th>
            <th scope="col" style="width: 19%">Booking time</th>

            <th scope="col" style="width: 19%">payment Status</th>
            <th scope="col" style="width: 20%">Action</th>
          </tr>
        </thead>
        <tbody>
          {%if booking%} {%for b in booking%}
          <tr>
            <th scope="row">{{b.b_id}}</th>
            <td>{{b.spot_id}}</td>
            <td>{{b.lname}}</td>
            <td>{{b.veh_no}}</td>
            <td>{{b.start_time}}</td>
            <td>{{b.pstat}}</td>

            <td>
              <a
                href="{{ url_for('updatebooking', b_id=b.b_id, username=username) }}"
                class="btn btn-link text-success"
                onclick="return confirm('Are you sure you want to update this booking?')"
              >
                {{ b.b_status }}
              </a>
            </td>
          </tr>
          {%endfor%} {%endif%}
        </tbody>
      </table>
    </div>
    <br />
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-center">
        <h3 class="text-white text-center m-3">search parking spot by City</h3>
        <form class="d-flex" role="search" method="POST" action="">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            name="city"
            aria-label="Search"
          />
          <button class="btn btn-outline-success btn-dark" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    {%if lots%}
    <div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="w-100 text-center">
          {%if city%}
          <h2 class="text-white m-0">parking lots at {{city}}</h2>
          {% endif%}
        </div>
      </nav>
      <br />
      <div class="container">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col" style="width: 5%">ID</th>
              <th scope="col" style="width: 25%">Prime Location</th>
              <th scope="col" style="width: 25%">avilability</th>
              <th scope="col" style="width: 27%">price(per hr)</th>

              <th scope="col" style="width: 20%">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for lot in lots%}
            <tr>
              <th scope="row">{{lot.lot_id}}</th>
              <td>{{lot.lot_name}}</td>

              <td>{{lot.avcspot}}</td>

              <td>{{lot.lot_price}}</td>
              <td>
                <form method="post" action="" class="d-inline">
                  <button class="btn btn-link text-success" type="submit">
                    Book Spot
                  </button>
                </form>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      {%endif%}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
